<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/forgotpassword.css">
    <title>Log In</title>
</head>
<body>
    <div class="obsiy">
        <form action="" method="post">
            {% csrf_token %}
            <div class="email">
                <label for="">Email Address</label>
                <input type="email" class="emailaddress" name="email">
            </div>
            <div class="lastDiv">
                <button type="submit"><h2>SUBMIT</h2></button>
                <div class="error"></div>
            </div>
        </form>
    </div>
    <script src="../static/js/login.js"></script>
</body>
</html>