<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Log In</title>
</head>
<body>
    <div class="obsiy">
        <div class="head"><h1><a href="{% url 'register' %}">Register</a> or <a href="">Log In</a></h1></div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="email">
                <label for="">Email Address or Username</label>
                <input type="text" class="emailaddress" name="username">
            </div>
            <div class="password">
                <label for="">Password</label>
                <input type="password" class="passwordline" name="password">
            </div>
            <div class="forgotpassword">
                <a href="{% url 'password_reset' %}" id="forgot password">Forgot Password?</a>
            </div>
            <div class="lastDiv">
                <button type="submit" disabled><h2>SUBMIT</h2></button>
                <div class="error"></div>
            </div>
        </form>
    </div>
    <script src="../static/js/login.js"></script>
</body>
</html>