* {box-sizing:border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #f2f2f3;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: -apple-system,BlinkMacSystemFont,Open Sans,Roboto,Helvetica Neue,Helvetica,sans-serif;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  font-size: 14px;
}

/* START - The all page */

.page{
  padding-top: 60px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
}
.page_inner{
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.page_container{
  max-width: 1400px;
  margin: 17px 30px;
  padding: 0 20px;
  /*width: 100%;*/
}
.container{
  position: relative;
}
.paper{
  background: #fff;
  border-radius: 5px;
}

/* ITEMS list - START */
.str-left{
  float: left;
  width: 900px;
}
.head-buttons{
  margin: 30px 0;
  padding: 0 35px;
  text-align: center;
}
.information_tabs{
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  border: 1px solid #3b3b3b;
  border-radius: 15px;
  height: 100%;
}
.information_tabs li{
  float: left;
}
.information_tabs li:first-child a {
  border-left-width: 0
}
.information_tabs li a {
  border-left: 1px solid #3b3b3b;
  display: block;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  color: #999;
  line-height: 20px;
  padding: 4px 12px;
}
.information_tabs .is-active a{
  color: rgb(0, 0, 0);
  background-color: #dddddd ;
}
.content-divider{
  margin: 0 10px 20px;
  height: 1px;
  background-color: #a9a9a9;
}

.person-card{
  display: flex;
  margin: 0 10px 15px;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(98,105,118,.16);
}
.person-card a{
  margin-right: 20px;
}
.cover-image img{
  height: 165px;
  min-height: 165px;
  width: 110px;
  min-width: 110px;
}
.author-profile{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 10px;
}
.author-name {
  height: 30px;
  display: flex;
  align-items: center;
}
.author-name a{
  text-decoration: none;
  color: black;
}
.about-author{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}