*{
    padding: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
}
body{
    background-image: linear-gradient(to right, #4f90ff, #2496ff);
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
form{
    margin-top: 50px;
    /* border: 1px solid blue; */
}
div.obsiy{
    background-color: white;
    height: 450px;
    width: 900px;
    margin-top: 10%;
    /* border: 1px solid red; */

}
div.head{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    height: 50px;
    width: 900px;
    text-align: center;
    font-size: x-large;
}
h1{
    margin-top: 40px;
    background-image: linear-gradient(to right, #4f90ff, #2496ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
label{
    transition: 1s;
    position: absolute;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
input{
    height: 25px;
    font-size: 18px;
    outline: none;
}
input.emailaddress{
    width: 772px;
    border: none;
    border-bottom: 2px solid rgb(200,200,200);
}
input.passwordline{
    width: 772px;
    border: none;
    border-bottom: 2px solid rgb(200,200,200);
}

input:focus{
    border-bottom-color: #65b5ff;
}
div.email{
    padding-left: 50px;
    display: inline-block;
    width: 380px;
    margin-top: 35px;
}
div.password{
    width: 800px;
    padding-left: 50px;
    display: inline-block;
    margin-top: 55px;
}

div.forgotpassword{
    margin-top: 10px;
    margin-left: 50px;
    width: 200px;
    /* border: 1px solid green; */
}

a#forgotpassword{
    display: inline-block;
    font-size: x-large;
    /* border: 1px solid red; */
}

button{
    margin-top: 50px;
    margin-left: 50px;
    width: 200px;
    height: 50px;
    border-radius: 3px;
    background-image: linear-gradient(to right, #4f90ff, #2496ff);
    border: none;
}
h2{
    padding: 0px;
    margin: 0px;
    color: white;
}
div.error{
    padding: 0px;
    margin-top: 20px;
    display: inline-block;
    width: 545px;
    height: 70px;
    margin-left: 20px;
}
.lastDiv{
    display: flex;
}